*{
    padding: 0;
}

#header{
    background-image: url(Fotos/foto\ header\ millor.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    opacity: 0.5;
    height: 200px; 
    margin: 10px;
    width: auto;
    padding: 25px;
    display: flex;

}

#contingutHeader{
    color: #21bd36;
    font-size: 2.5em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}






/* LLISTES NAV I ASIDE*/
section > nav > ul > li{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}






#llistaNav {
    place-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #2E933C;
    border-top: solid 3px #297045;
    border-bottom: solid 3px #297045;

    justify-content: center;
    align-items: center;
}

#llistaNav li{
    display: flex;
}

section{
    transition: transform 0.3s ease;
}

section:hover{
    box-shadow: black 0 5px 5px;
    transform: scale(1.01);
}

section > nav > ul > li{
    display: inline-block;
    padding: 10px 20px;
}

section > nav > ul > li > a{
    text-decoration: none;
    color: black;
}

section > nav > ul > li > a:hover{
    color: #81C14B;
}

body{
    background-color: #524632;
}

#container{
    display: flex;
    margin-top: 30px;
    padding-top: 10px;
    display: grid;
    margin: auto;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}








img {
    max-width: 200%;
    height: auto;
}









.titolSom{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

#QuiSom{
    background-color: #359d5e;
}

#som{
    background-color: #729B79;
    padding-bottom: 5px;
    border-radius: 10px;
}

#jardinersFoto{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#fotoJardiners{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#contentSom{
    margin: 10px;
    background-color: rgb(221, 221, 221);
    border: solid 2px green;

    border-radius: 20px;
    padding: 5px;
}

.fotos{
    margin: auto;
    width: 50%; 

    border: solid 2px green;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);

    display: flex;
    justify-content: space-between   ;
    align-items: center;
}

.divFotosJuntes{
    position: relative;
}

.fotoProj{
    width: 300px;
    border-radius: 10px;
    align-items: center;
}

.projIFoto{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%; 
}

.nomProj{
    font-weight: bold;
}

#queFem{
    background-color: #729B79;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

#contingut{
    margin: 10px;
    padding-bottom: 10px;
}







#projectes{
    background-color: #729B79;
    border-radius: 10px;
}

.fotos{
    margin: auto;
    width: 50%;
}

.fotos > img{
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

.previ, .seguent {
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
  }

  .seguent {
    right: 0;
    border-radius: 3px;
  }

  .previ:hover, .seguent:hover {
    background-color: black;
  }







/*footer*/

@media (max-width: 480px) {
    footer > div > a > img{
        max-width: 20px;
        max-height: 20px;
        border-radius: 30%;
} 
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}


#treballa{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#columnaXarxes{
    color: white;
}

#columnaContacte{
    color: white;
}


footer > div > a > img{
    max-width: 40px;
    max-height: 40px;
    border-radius: 30%;
}








@media all and (max-width: 550px) {
    section > nav > ul > li{
        display: inline-block;
        padding: 10px 20px;
        font-size: 0.9em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media (width: 400px) {
    #contingutHeader{
        font-size: 1em;
    }
}
